---
title: About
category: LA BARHACK
date: 2019-08-21
author: lapinferoce
weigth: 1
---

<h1>
  Middleman is Running
</h1>

<%= link_to(
  "Read Documentation",
  "https://middlemanapp.com/basics/templating_language/",
  target: "_blank"
) %>
